:root {
  --font-family: 'Roboto Mono', monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main, body > header div {
  max-width: 40rem;
}

body > footer div {
  max-width: 100%;
}

body {
  font-family: var(--font-family);
}

fieldset {
  border: none;
}

form {
  overflow: hidden;
}

button {
  margin-top: 1rem;
  float: right;
}

input[disabled] {
  background-color: #A2AECB;
}

.items {
  color: #F24949;
}

#finish-order {
  margin-right: .5em;
}

#receipt {
  display: none;
  border: 2px solid var(--color-med-gray);
  border-radius: var(--border-radius);
  padding: .5rem 1rem;
  background-color: var(--color-bg);
  max-width: var(--width-form);
  margin: 2rem auto;
}

#receipt li {
  line-height: 1.1rem;
}

#pizza-order {
  display: none;
}

#pizza-toppings {
  columns: 2;
}

#finish {
  display: none;
}

.removable-items li:before {
  content: 'X';
  display: none;
}

.removable-items li:hover {
  background-color: #A2AECB;
  border-radius: var(--border-radius);
  font-weight: bold;
  list-style: none;
  position: relative;
  left: -1em;
}

.removable-items li:hover:before {
  display: inline-block;
  margin-right: 8px;
}

.order-total {
  text-align: right;
  font-size: 1.3rem;
  font-weight: bold;
}

footer {
  min-height: 5em;
}

footer div p {
  margin: auto;
  text-align: right;
}

#lilguy:hover:after {
  content: " <(HOT PIES COMIN' AT YA!)";
}

.angry {
  color: darkred;
  font-weight: bold;
}

.fancy-name {
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to right, #c03a48, #d35d39, #b3801a, #60aa20, #1a366e, #a83293, #c03a48);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow_animation 3s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}